# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
env_bak/
.venv/
.vscode/
.idea/

# Ignore local configuration files
*.env

# Logs and databases
*.log
*.sqlite3

# OS or Editor specific files
.DS_Store
Thumbs.db
.idea/Parking-Lot.iml
*.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/Parking-Lot.iml
